@import './Design_System/designsys';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: $type-dt-sm;
    color: $color-B800;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.btn{
    color: rgb(255, 255, 255);
    background-color: $color-B800;
    padding: 8px 12px;
    border-radius: 12px ; 
    font-weight: 500;

}

// --------------- HEADER ------------------------
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 4%;
    position: absolute;
    width: 100vw;

    #logo{
        width: 32px;
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        ul{
            display: flex;
            gap: 4px;

            li a{
                padding: 8px 12px;
                border-radius: 12px ; 

                &:hover{
                    background-color: $color-B20;
                }
            }
        }
        #header_cta{
            padding: 8px 12px;
            color: white;
            font-weight: 500;
            background-color: $color-B800;
            border-radius: 12px;
        }
    } 
    
}

// ------------------ MAIN ---------------
#main{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    
    
    .hero_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        height: 70vh;
        // border: solid black 1px;

        margin-top: 80px;

        .big_title{
            font-size: $type-dt-xxxl;
            line-height: 56px ;
            letter-spacing: -1px;
            text-align: center;
            font-weight: 600;
            // margin-top: 50px;
            // max-width: 600px;
        }
        .description{
            max-width: 600px;
            font-size: $type-dt-md;
            text-align: center;
            letter-spacing: 0.5px;
        }
        .cta{
            padding: 16px 32px;

            &:hover{
                cursor: pointer;
            }
        }
        .ratings_reviews{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 0px;
            .stars i{
                font-size: 20px;
            }
        }
    }
}